<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BubbleSearchDataContext.Properties.Settings.BubbleSearchConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BubbleSearch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>