.result
{
	font:14px Arial;
	color:Black;
	width:60%;
	margin-left:50px;
	margin-bottom:20px;
}
.dot
{
	float:left;
	margin-top:2px;
	margin-right:5px;
}

.content 
{
	margin-bottom:-10px;
}

.image
{
	height:150px;    
	-webkit-transition: all 0.5s linear;  
	-moz-transition: all 0.5s linear;/*vitesse de translation*/
	-o-transition: all 0.5s linear;
}
.image:hover
{
	height:200px;
	-webkit-transition: all 0.2s linear;  
	-moz-transition: all 0.2s linear;/*vitesse de translation*/
	-o-transition: all 0.2s linear;
}

.imgResult
{
	height:150px;
	float:left;
	overflow:hidden;
	margin:10px;
}
