body{
	background-color:#020001;
	font-family:Arial, Helvetica, sans-serif;
}

#all{
	width:900px;
    height: 547px;
}

#recherche input{
	background:inherit;
	border:inherit;
	font-size:16px;
}

#type_recherche{
	float:left;	
	color:#FFF;
    height: 26px;
   
}

#recherche{
	float:left;
	text-align:left;
	padding:5px;
	background-color:#FFF;
    margin-bottom: 1px;
}

#logo2{
	margin-top:0px;
	float:left;
	width:89px;
    margin-left: 0px;
    height: 89px;
    margin-bottom: 2px;
    margin-right: 0px;
}

#recherche #bouton{
	font-size:18px;
	border:solid 1px #000;
	background-color:#333;
	color:#FFF;
}

#result
{
    color:White;
    background-color:#181818;
	margin-top:50px;
	float:left;
	width:100%;
}

#result table
{
    text-align:left;
}

#result a
{
    color:Gray;
    text-decoration:underline;
}

.resultSeparator
{
    padding-bottom:0px;    
}

#titre, #titre a{
	font-size:18px;
	color:#A00;
	font-weight:bold;
	text-decoration:none;
	padding-bottom:10px;
}

#titre a:hover{
	color:#F00;
}

#description{
	font-size:12px;
	text-align:justify;
}

#url, #url a{
	font-size:10px;
	color:#A00;
	text-decoration:none;
}

#bloc{
	background:url("../Images/bg.jpg");
	border:solid 1px #AAA;
	float:left;
	margin:auto;
	padding-top:100px;
	padding:100px 20px;
	height:306px;
	width:100%;
}

#bloc2{
	background:url("./Images/bg.jpg");
	float:left;
	width:100%;
}

a{
	color:#FFF;
	text-decoration:none;
}