body
{
    margin:0px;
    padding:0px;
}

#logo2
{
    float:left;
    margin-right:20px;
    margin-top:20px;
}

#searchBar
{
    background-color:#f5f5f5;
    border-bottom:1px solid LightGray;
    width:100%;
    height:80px;
    padding-left:10px;
    padding-top:2px;
}

#searchBox
{
    margin-left:20px;
    margin-top:30px;
  
}
#SearchBox
{
      padding:5px;
      width:350px;
}

#SearchButton
{
    padding:6px;
}

#menu
{
    left:20px;
    font-size: 12px;
    font-family:Arial;
    position: absolute;
    color:Gray;
}

#menu .unselected:hover
{
   
    font-family:Arial;
    color:Gray;
    text-decoration:underline;
}

a, .unselected:visited
{
    color:Gray;
    text-decoration:none;   
}

 .selected
{
    font-size: 14px;
    font-family:Arial;
    color:Gray;
    font-weight:bold;
}