#results
{
	margin-left:150px;
}

#resultsCount
{
	position:absolute;
	right:20px;
	top:75px;
	color:Gray;
	font:normal normal normal 12px Arial;
}
#searchOptions
{
	padding-top:20px;
	padding-left:10px;
	position:absolute;
	left:0px;
	top:83px;
	width:140px;
	height:100%;
	border-right:1px solid LightGray;
}

.searchOption
{
	vertical-align:middle;
}

.result
{
	font:14px Arial;
	color:Black;
	width:60%;
	margin-left:10px;
	margin-bottom:20px;
}

.titre
{
	color:Blue;
	font-weight:bold;
	margin-bottom:-10px;
}

.dot
{
	float:left;
	margin-top:2px;
	margin-right:5px;
}

.url 
{
	color:Green;
	text-decoration:underline;
}

.content 
{
	margin-bottom:-10px;
}

.image
{
	height:150px;    
	-webkit-transition: all 0.5s linear;  
	-moz-transition: all 0.5s linear;/*vitesse de translation*/
	-o-transition: all 0.5s linear;
}
.image:hover
{
	height:200px;
	-webkit-transition: all 0.2s linear;  
	-moz-transition: all 0.2s linear;/*vitesse de translation*/
	-o-transition: all 0.2s linear;
}

.imgResult
{
	height:150px;
	float:left;
	overflow:hidden;
	margin:10px;
}
